# ---- AWS RDS MySQL ----
DB_HOST=mysql-24b356cc-jee-exam.a.aivencloud.com
DB_PORT=26201
DB_USER=avnadmin
DB_PASS=AVNS_rhqMnSVb-Sq0_DPhn_2
DB_NAME=defaultdb
DB_SSL=true
DB_CA_FILE=
# optional: path to AWS global-bundle.pem for strict certificate checking
DB_CA_FILE=

# ---- App ----
JWT_SECRET=be2769a094c39e89d771aad2d7f51589a0ab3f3a03a799a0aa513fac06249076
PORT=5000
TEST_MINUTES=120
# test is auto-submitted when the student leaves the exam tab/window this many times
MAX_TAB_SWITCHES=3
