
# ---- AWS RDS MySQL ----
DB_HOST=database-1.c36o46yu0ref.ap-south-1.rds.amazonaws.com
DB_PORT=3306
DB_USER=admin
DB_PASS=Pushpak1492
DB_NAME=jeedata
DB_SSL=true
DB_CA_FILE=

# ---- App ----
JWT_SECRET=0db88dd222ecc907d326ef3ef7c72ee75a40a8e2706e7bdbd7101f05729fcb1ePORT=5001
TEST_MINUTES=120
# test is auto-submitted when the student leaves the exam tab/window this many times
MAX_TAB_SWITCHES=3
